<div class="row">
    <h1>Hosts</h1>
    <div class="jumbotron">
        <div class="container">
            <h2>Welcome!</h2>
            <p>Maecenas tincidunt. Maecenas facilisis, ante ante, vitae felis. Phasellus dui convallis accumsan, dolor
                nibh, ut felis a&nbsp;nunc. Nunc arcu mi metus, ullamcorper aliquam. Nunc velit non mi at eros. Nullam
                in massa. Duis luctus augue eu orci.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Hosts</h2>
        <div class="jumbotron">
            <div class="container table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>11</th>
                        <th>22</th>
                        <th>33</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Rules</h2>
        <div class="jumbotron">
            <div class="container table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>11</th>
                        <th>22</th>
                        <th>33</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>