.dashboard-page {
  #addnew-page {

    h1 {
      font-weight: 300;
      small {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .form-group {
      padding: 8px 0;
    }

    .form-content {
      padding: 40px 0;
    }

    .jumbotron {
      background: rgba(60, 162, 224, 0.7);
    }

  }
}