.host-show {

  .details {
    font-size: larger;
    padding: 10px 4px;

  }

  dl{
    line-height: 1.4em;

    dt{
      margin: 10px 4px 2px 0px;
    }
  }

  h2{
    padding: 0px 6px 30px 6px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  input, select{
    color: rgba(51, 167, 255, 0.97);
    border-bottom: 2px solid rgba(51, 167, 255, 0.97);
  }
  option, input::-webkit-input-placeholder {
    color: rgba(51, 167, 255, 0.97);
  }

  table{
    select{
      margin-top: 12px;
      width:70px;
    }
    input, option, select{
      font-size: small;
    }
  }
}

.host-add {

}

