<div class="host-show">
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Hosts {{ host.name }}</h2>
                </div>
                <div class="col-lg-6">
                    <div ng-show="!editMode">
                        <button ng-click="toggleEdit()"
                                class="btn btn-outline btn-primary btn-small btn-rounded pull-right">Edit
                        </button>
                    </div>
                    <div ng-show="editMode">
                        <button ng-click="cancelEdit()"
                                class="btn btn-outline btn-primary btn-small btn-rounded pull-right">Cancel
                        </button>
                        <button ng-click="save()"
                                class="btn btn-outline btn-primary btn-small btn-rounded pull-right">Save
                        </button>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <h4>Details</h4>
                    <dl class="details row">
                        <div class="col-lg-4">
                            <dt>Name</dt>
                            <dd ng-show="!editMode">{{ host.name }}</dd>
                            <dd ng-show="editMode"><input type="text"
                                                          class="form-control input-underline input-lg"
                                                          ng-model="host.name"
                                                          id="name"
                                                          placeholder="Name"></dd>

                            <dt>Type</dt>
                            <dd ng-show="!editMode">{{ getHostType(host.htype) }}</dd>
                            <dd ng-show="editMode"><select ng-model="host.htype"
                                                           class="form-control input-underline input-lg">
                                <option ng-repeat="option in htypeOptions" value="{{option.id}}"
                                        ng-selected="option.id==host.htype">{{option.value}}
                                </option>
                            </select></dd>
                        </div>
                        <div class="col-lg-8">
                            <dt>Description</dt>
                            <dd ng-show="!editMode">{{ host.desc }}</dd>
                            <dd ng-show="editMode"><input type="text"
                                                          class="form-control input-underline input-lg"
                                                          ng-model="host.desc"
                                                          id="desc"
                                                          placeholder="Description"></dd>
                        </div>
                    </dl>
                </div>
                <div class="col-lg-6">
                    <h4>Interfaces</h4>
                    <table class="table interfaces table-striped">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>Net mask</th>
                            <th>System name</th>
                            <th>Description</th>
                            <th ng-show="editMode"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="interface in host.interfaces">
                            <td>{{interface.ip}}</td>
                            <td>{{interface.netmask}}</td>
                            <td>{{interface.sys}}</td>
                            <td>{{interface.desc}}</td>
                            <td ng-show="editMode">
                                <i ng-click="removeInterface($index)" class="fa fa-times"></i>
                            </td>
                        </tr>
                        <tr ng-show="editMode">
                            <td><input type="text"
                                       class="form-control input-underline input-lg"
                                       ng-model="newInterface.ip"
                                       id="ip"
                                       placeholder="IP"></td>
                            <td><select ng-model="newInterface.netmask"
                                        placeholder="Netmask"
                                        class="form-control input-underline">
                                <option value="" disabled>Net mask</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select></td>
                            <td><input type="text"
                                       class="form-control input-underline input-lg"
                                       ng-model="newInterface.sys"
                                       id="sys"
                                       placeholder="System name"></td>
                            <td><input type="text"
                                       class="form-control input-underline input-lg"
                                       ng-model="newInterface.desc"
                                       id="idesc"
                                       placeholder="Description"></td>
                            <td ng-show="editMode">
                                <i ng-click="addInterface()" class="fa fa-plus"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h4>Rules</h4>
                <div class="row">
                    <table class="table rules table-striped">
                        <thead>
                        <tr>
                            <th>Table</th>
                            <th>Chain</th>
                            <th>Protocol</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Interface</th>
                            <th>Modules</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rule in rules">
                            <td>{{rule.table}}</td>
                            <td>{{rule.chain}}</td>
                            <td>{{rule.protocol}}</td>
                            <td>{{rule.source_reverse ? '!' : ''}}{{rule.source}}{{rule.source ? '/' : ''}}{{rule.source_mask}}</td>
                            <td>{{rule.destination_reverse ? '!' : ''}}{{rule.destination}}{{rule.destination ? '/' : ''}}{{rule.destination_mask}}</td>
                            <td>{{rule.interface}}</td>
                            <td>
                                <div ng-repeat="module in rule.modules">
                                    {{module.sys}}

                                    <span ng-repeat="param in module.params">
                                        {{param.sys}}:{{param.value}}
                                    </span>

                                    {{$last ? '' : ', '}}
                                </div><br/>
                            </td>
                            <td>{{rule.action}}</td>
                            <td>
                                <i ng-show="editMode" ng-click="removeRule(rule.id)" class="fa fa-times"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group button-container">
                    <button type="submit" ng-click="addRule()" class="btn btn-primary btn-white btn-outline btn-lg btn-rounded">
                        Add Rule
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
